body {
}

.banner {
    width: 100%;
    height: 250px;
    margin-top: 16px;
}

ul {
    list-style: none;
}

.banner li {
    width: 100%;
    height: 180px;
    position: absolute;
    display: none;
}

    .banner li img {
        width: 100%;
        height: 335px;
    }

    .banner li:first-child {
        display: block;
    }